{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/png" href="{{.Favicon}}"/>
        <title>{{.Title}} v{{.Version}}</title>

        <link rel="stylesheet" href="/content/css/bootstrap.min.css">
        <link rel="stylesheet" href="/content/css/dashboard.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand navbar-icon">
                        <img src="/content/img/pi_bot_inverse.png" height=30px />
                    </a>
                    <a class="navbar-brand">
                        {{.Title}} v{{.Version}}
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right navbar-hidden">
                        <li><a href="/">Overview</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar-hidden">
                        <li><a href="/control">Control</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar-hidden">
                        <li><a href="/settings">Settings</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://github.com/bah2830/pi_bot" target="_blank">View On Github</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                         <li {{if eq .ControllerMethod "overview"}}class="active"{{end}}>
                            <a href="/" class="sidebar_link" id="overview_link">Overview</a>
                        </li>
                    </ul>
                     <ul class="nav nav-sidebar">
                        <li {{if eq .ControllerMethod "control"}}class="active"{{end}}>
                            <a href="/control" class="sidebar_link" id="control_link">Control</a>
                        </li>

                        <li {{if eq .ControllerMethod "settings"}}class="active"{{end}}>
                            <a href="/settings" class="sidebar_link" id="settings_link">Settings</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {{ template "content" . }}
                </div>
            </div>
        </div>

        <script src="/content/js/jquery-3.2.1.min.js"></script>
        <script src="/content/js/bootstrap.min.js"></script>
        <script src="/content/js/dashboard.js"></script>
    </body>
</html>

{{ end }}