{{ define "content" }}

<style>
    .settings-input-port {
        width: 100px;
    }

    .settings-input-pin {
        width: 60px;
    }

    .table > tbody > tr > td {
        border: 0;
    }

    .table > tbody > tr:hover {
        background-color: #ddefff;
    }

    .table-motor-settings > tbody > tr > td:last-child,
    .table-motor-settings > tbody > tr > td:nth-last-child(2) {
        width: 90px;
    }
</style>

<h2>Settings</h2>

<div class="container-fluid">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <form id="settings-form" class="form-settings" action="/settings" method="POST">
            <div class="row">
                <h4>Web Server</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>HTTP Port</td>
                            <td align="right">
                                <input type="number" class="form-control settings-input-port" name="http_port"
                                    placeholder="Port" required value="{{.Data.HTTPPort}}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <h4>Motor GPIO Pins</h4>
                <table class="table table-motor-settings">
                    <tbody>
                        {{ range $name, $motor := .Data.Motors }}
                            <tr>
                                <td>{{ $name | ToUpper }}</td>
                                {{ range $i, $pin := $motor.Pins}}
                                    <td align="center">
                                        <input type="number" class="form-control settings-input-pin" name="motor_{{ $name }}_{{ $i }}"
                                            required value="{{ $pin }}">
                                    </td>
                                {{ end }}
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>

             <div class="row">
                <h4>Sensor GPIO Pins</h4>
                <table class="table table-motor-settings">
                    <tbody>
                        {{ range $name, $pin := .Data.Sensors }}
                            <tr>
                                <td>{{ Replace $name "_" " " 1 | ToUpper }}</td>
                                <td align="right">
                                    <input type="number" class="form-control settings-input-pin" name="sensor_{{ $name }}"
                                        required value="{{ $pin }}">
                                </td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>

            <input type="submit" class="btn btn-md btn-primary" value="Save">
        </form>
    </div>
    <div class="col-md-6 hidden-sm hidden-xs">&nbsp;</div>
</div>

{{ end }}